VITE_API_URL=https://easykhata-api-production.up.railway.app
VITE_LOG_ENDPOINT=https://recordclientlog-imhfnwiesq-el.a.run.app
VITE_EVENT_ENDPOINT=https://recordclientevent-imhfnwiesq-el.a.run.app
VITE_APP_VERSION=5.02.26
